

h1,p{
    background-color: #DDE0E3;
}

em,strong{
    background-color: #b2d6ff;
    display: inline;
}

h1{
    padding: 50px;
    border-bottom: 5px solid #5d6063;
}

p{
   /* padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;*/

    /*padding: 20px 10px;*/

    padding: 20px 30px 40px 10px;

    margin-top: 25px;
}

div{
    color: #FFF;
    background-color: #5995da;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border: 2px solid #5d6063;
    border-radius: 5px;

    width: 200px;
    box-sizing: border-box;

    margin: auto;

}

strong {
    margin: 50px;
}

